{
    "printWidth": 120,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "htmlWhitespaceSensitivity": "css",
    "plugins": [
        "prettier-plugin-blade",
        "prettier-plugin-tailwindcss",
        "@prettier/plugin-php",
        "prettier-plugin-organize-imports"
    ],
    "tailwindFunctions": [
        "clsx",
        "cn"
    ],
    "overrides": [
        {
            "files": [
                "**/*.blade.php"
            ],
            "options": {
                "parser": "blade"
            }
        },
        {
            "files": [
                "**/*.php"
            ],
            "options": {
                "parser": "php"
            }
        }
    ]
}